In [2]:
import spacy
m = spacy.load("en_core_web_sm")

In [3]:
example1 = "Tiffany is known for its luxury goods, particularly its diamond and sterling silver jewelry. ... Tiffany & Co. was founded in 1837 by the jeweler Charles Lewis Tiffany and became famous in the early 20th century under the artistic direction of his son Louis Comfort Tiffany."

In [4]:
doc = m(example1)
doc

Tiffany is known for its luxury goods, particularly its diamond and sterling silver jewelry. ... Tiffany & Co. was founded in 1837 by the jeweler Charles Lewis Tiffany and became famous in the early 20th century under the artistic direction of his son Louis Comfort Tiffany.

In [5]:
for ent in doc.ents:
    print(ent.text,ent.label_)

Tiffany & Co. ORG
1837 DATE
Charles Lewis Tiffany PERSON
the early 20th century DATE
Louis Comfort Tiffany PERSON

In [6]:
example2 = "The Nile is a major north-flowing river in northeastern Africa, and is the longest river in Africa and the disputed longest river in the world"
doc2 = m(example2)
for ent in doc2.ents:
    print(ent.text,ent.label_)

Nile LOC
Africa LOC
Africa LOC

In [7]:
e3 = "Nearly 30,000 military and civilian personnel work inside the Pentagon each day. Covering approximately 6.5 million square feet, the building contains a food court and mini-shopping mall. Because of its size, the Pentagon has six ZIP codes."
doc3 = m(e3)
for ent in doc3.ents:
    print(ent.text,ent.label_)

Nearly 30,000 CARDINAL
Pentagon ORG
each day DATE
approximately 6.5 million square feet QUANTITY
Pentagon ORG
six CARDINAL
ZIP ORG

In [8]:
e4 = "Hugo von Tschudi (1851–1911) was an art historian and museum curator. He was director of the Nationalgalerie in Berlin (1896–1909) where he acquired many important Impressionist works. Tschudi was born in Austria and became a naturalised Swiss citizen."
doc4 = m(e4)
for ent in doc4.ents:
    print(ent.text,ent.label_)

Hugo von Tschudi PERSON
Nationalgalerie GPE
Berlin GPE
Impressionist NORP
Tschudi ORG
Austria GPE
Swiss NORP

In [12]:
#Querying
locs = [('Omnicom', 'IN', 'New York'),('DDB Needham', 'IN', 'New York'), ('Kaplan Thaler Group', 'IN', 'New York'),('BBDO South', 'IN', 'Atlanta'), ('Georgia-Pacific', 'IN', 'Atlanta')]
query = [e1 for(e1,rel,e2) in locs if e2 == "New York"]
query

['Omnicom', 'DDB Needham', 'Kaplan Thaler Group']